In [1]:
import pandas as pd
import numpy as np
plt.style.use("seaborn")
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [14]:
df = pd.read_csv('eu19.csv')
df['currency'] = 'eurusd'
df.rename(columns = {'UTC':'utc', 'AskPrice':'askprice','BidPrice':'bidprice','AskVolume':'askvolume','BidVolume':'bidvolume'}, inplace = True)
df.index.names = ['d_id']
#df = df[:680000]
df.to_csv('eu19psql.csv')

In [15]:
df

,utc,askprice,bidprice,askvolume,bidvolume,currency
d_id,,,,,,
0,2019-01-01 22:02:37.254000+00:00,1.14598,1.14682,3.75000,0.75000,eurusd
1,2019-01-01 22:02:38.590000+00:00,1.14599,1.14682,2.25000,0.75000,eurusd
2,2019-01-01 22:02:39.138000+00:00,1.14599,1.14684,3.75000,0.75000,eurusd
3,2019-01-01 22:02:55.787000+00:00,1.14598,1.14684,3.75000,0.75000,eurusd
4,2019-01-01 22:03:02.060000+00:00,1.14598,1.14684,3.75000,0.75000,eurusd
...,...,...,...,...,...,...
679995,2019-01-07 16:00:00.123000+00:00,1.14634,1.14636,2.70000,1.00000,eurusd
679996,2019-01-07 16:00:00.225000+00:00,1.14633,1.14636,1.00000,1.00000,eurusd
679997,2019-01-07 16:00:00.328000+00:00,1.14634,1.14637,2.25000,1.69000,eurusd
679998,2019-01-07 16:00:00.437000+00:00,1.14634,1.14636,1.25000,1.50000,eurusd
679999,2019-01-07 16:00:00.488000+00:00,1.14633,1.14635,1.00000,1.50000,eurusd